@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
    background-color: #e2e7f3 !important;
}

.home-images img {
    min-height: 45vh;
    min-width: 100;
}

.nav {
    background-color: #27c400;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav a {
    color: white;
}

.nav a:hover {
    color: yellow;
}

.active {
    color: white!important;
}

.card-footer {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Add space between the buttons */
    padding: 10px; /* Adjust padding if needed */
}

.card-footer .btn {
    margin: 0 5px; /* Add horizontal margin to individual buttons if needed */
}

.card {
    width: 100%; /* Ensures card takes full width of its column */
}

.cardBody {
    padding: 1rem; /* Adjust padding if needed */
}

.custom-card-comments button, .addpost-button {
    margin-right: 10px;
    margin-top: 10px;
}

.register-button {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 16px;
}